.touchcube {
  position: absolute;
  text-align: center;
  user-select: none;
  overscroll-behavior: none;
}
.touchcube tr td {
  width: 33%;
  height: 33%;
}
.touchcube.active {
  background-color: #6666;
  color: #fffa;
}
.touchcube.active td.touchto {
  background-color: #0f0a;
}
.touchcube.active td.touchfrom {
  background-color: #f00a;
}
.touchcube.board td {
  border: 2px solid #6666;
  border: 0.15rem solid #6666;
}
